@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #130f40;
  font-family: "poppins" !important;
}

.search-box {
  /* width: 100vw;
    height: 30vh; */
  margin: auto;
  width: fit-content;
  height: fit-content;
  position: relative;
  margin-top: 80px;
}

.input-search {
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
  background-color: #22a6b3;
  padding-right: 40px;
  color: #fff;
}

.input-search::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}

.btn-search {
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color: #ffffff;
  background-color: transparent;
  pointer-events: painted;
}

.btn-search:focus ~ .input-search {
  width: 500px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

.input-search:focus {
  width: 500px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

/*  footer   */
footer {
  background-color: #222;
  color: #fff;
  font-size: 14px;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 999;
}

footer p {
  margin: 10px 0;
  font-family: " Lucida Sans", "Lucida Sans Regular", "Lucida  Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  right: 0;
  position: fixed;
  top: 0;
  left: 115px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shadowLoader {
  box-shadow: 0 20px 50px rgba(8, 112, 184, 0.7);
}

.limitlen {
  display: -webkit-box;
  -webkit-line-clamp: var(
    --lines,
    3
  ); /* Default to 3 lines if --lines is not set */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.chatBox {
  height: 56vh;
  overflow-y: scroll;
}

.senderChat {
  background: #d2d0d4;
}

.receverChat {
  background: greenyellow;
}

/* footer  */
